.banner{
    height: 140px;
    padding: 10px , 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/food-delivery-37c59.appspot.com/o/Images%2Fbanner.png?alt=media&token=7e244d84-8821-477d-b273-4c9381a474fb");
}

.banner > .banner_info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 200px;
    width: 100%;
    flex: 0.5;

}
.banner_info > button{

    max-width: 80px;
    height: 22px;
    border: none;
    border-radius: 16px;
    background-color: orange;
    font-size: 0.7rem;
}
.banner_info > p{
    font-size: 0.8rem;
    margin-bottom: 7px;
    text-align: start;
}
.banner_info > h4{
    text-align: start;
}

.banner_image{
    flex: .5;
    margin-left: -20px;
}
.banner_image > img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}